@model List<WURequest.Models.Observations>

@{
    var latest = Model.Last();
}


<div class="card border-light col-lg-2 col-sm-12" id="second">
    <div class="card-header " style="text-align: center"><strong>Rain</strong></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Day<span style="float:right;">@latest.RainDay mm</span></li>
        <li class="list-group-item">Previous Day<span style="float:right;">@latest.RainYest mm</span></li>
        <li class="list-group-item">Month<span style="float:right;">@latest.RainMonth mm</span></li>
        <li class="list-group-item">Year<span style="float:right;">@latest.RainYear mm</span></li>
    </ul>
</div>