@model List<WURequest.Models.Observations>

@{
    var latest = Model.Last();

    var windObj = new
    {
        currWind = latest.WindSpeedCur * 3.6,
        currGust = latest.WindGust10 * 3.6,
        maxWind = Model.Select(x => x.WindSpeedCur).ToList().Max() * 3.6,
        minWind = Model.Select(x => x.WindSpeedCur).ToList().Min() * 3.6,
        avgWind = Model.Select(x => x.WindSpeedCur).ToList().Average() * 3.6,
        maxGust = Model.Select(x => x.WindGust10).ToList().Max() * 3.6,
        minGust = Model.Select(x => x.WindGust10).ToList().Min() * 3.6,
        avgGust = Model.Select(x => x.WindGust10).ToList().Average() * 3.6,
    };
}


<div class="card col-lg-2 col-sm-2" id="second">
    <div class="card-header " style="text-align: center"><strong>Rain</strong></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Day<span style="float:right;">@latest.RainDay mm</span></li>
        <li class="list-group-item">Total Previous Day<span style="float:right;">@latest.RainYest mm</span></li>
        <li class="list-group-item">Total Month<span style="float:right;">@latest.RainMonth mm</span></li>
        <li class="list-group-item">Total Year<span style="float:right;">@latest.RainYear mm</span></li>
    </ul>
</div>