@model List<WURequest.Models.Observations>
@{
    var cnt = Model.Select(x => true).Count();
}

<div class="columns is-12-mobile">
    @await Html.PartialAsync("_CurrentConditions", Model)
    @if (cnt > 0)
    {
       
            <div class="column is-8" id="middle">
                @await Html.PartialAsync("_TopBar", Model)
           
                <div class="columns">
                    <div class="column is-half" id="chartemp" style="height:300px;"></div>
                    <div class="column is-half" id="chartminmax" style="height:300px;"></div>
                </div>
                <div class="columns">
                    <div class="column is-half" id="charthum" style="height:300px;"></div>
                    <div class="column is-half" id="chartpressure" style="height:300px;"></div>
                </div>
                <div class="columns">
                    <div class="column is-half" id="chartwind" style="height:300px;"></div>
                    <div class="column is-half" id="chartrain" style="height:300px;"></div>
                </div>
                <div class="columns">
                    <div class="column is-half" id="chartsolar" style="height:300px;"></div>
                    <div class="column is-half" id="chartuv" style="height:300px;"></div>
                </div>
                <div class="columns">
                    <div class="column is-full" id="chartwd" style="height:300px;"></div>
                </div>
                <div class="columns" id="roses">
                    <div class="column is-one-third-desktop is-full-mobile is-full-tablet" id="chartTR" style="height:400px;"></div>
                    <div class="column is-one-third-desktop is-full-mobile is-full-tablet" id="chartPR" style="height:400px;"></div>
                    <div class="column is-one-third-desktop is-full-mobile is-full-tablet" id="chartHR" style="height:400px;"></div>
                </div>
           
            </div>
   
    }

    @await Html.PartialAsync("_Stats", Model)
</div>

<div class="row" style="text-align: center">
    <div class="col-lg">
        @cnt total records
    </div>
</div>