<div class="columns is-0-mobile is-centered">
    <div class="column is-half">
        <h1 style="text-align: center">Unfortunately my time machine doesn't have these files on record</h1>
    </div>
</div>
