@using System.Text.RegularExpressions
@model List<WURequest.Models.Observations>

@{
    var latest = Model.Last();

    var statsObj = new List<KeyValuePair<string, string>>();
    statsObj.Add(new KeyValuePair<string, string>("Temperature Min", Model.Select(x => x.TempOutCur).ToList().Min().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Temperature Avg", Model.Select(x => x.TempOutCur).ToList().Average().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Temperature Max", Model.Select(x => x.TempOutCur).ToList().Max().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Humidity Min", Model.Select(x => x.HumOutCur).ToList().Min().ToString("0.#") + " %"));
    statsObj.Add(new KeyValuePair<string, string>("Humidity Avg", Model.Select(x => x.HumOutCur).ToList().Average().ToString("0.#") + " %"));
    statsObj.Add(new KeyValuePair<string, string>("Humidity Max", Model.Select(x => x.HumOutCur).ToList().Max().ToString("0.#") + " %"));
    statsObj.Add(new KeyValuePair<string, string>("Dewpoint Min", Model.Select(x => x.DewCur).ToList().Min().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Dewpoint Avg", Model.Select(x => x.DewCur).ToList().Average().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Dewpoint Max", Model.Select(x => x.DewCur).ToList().Max().ToString("0.#") + " °C"));
    statsObj.Add(new KeyValuePair<string, string>("Wind Max", (Model.Select(x => x.WindGust10).ToList().Max() * 3.6).ToString("0.#") + " km/h"));
    statsObj.Add(new KeyValuePair<string, string>("Wind Avg", (Model.Select(x => x.WindSpeedCur).ToList().Average() * 3.6).ToString("0.#") + " km/h"));
    statsObj.Add(new KeyValuePair<string, string>("WindDir Avg", Model.Select(x => x.WindDirCur).ToList().Average().ToString("0.#") + " °"));
    statsObj.Add(new KeyValuePair<string, string>("Rain Avg", Model.Select(x => x.RainDay).ToList().Average().ToString("0.#") + " mm"));
    statsObj.Add(new KeyValuePair<string, string>("RainRate Max", Model.Select(x => x.RainRateCur).ToList().Max().ToString("0.#") + " mm/h"));
    statsObj.Add(latest.SolarRad > 0 ? new KeyValuePair<string, string>("Solar Avg", Model.Where(x => x.SolarRad > 0).Select(x => x.SolarRad).Average().ToString("0.#") + " W/m²") : new KeyValuePair<string, string>("Solar Avg", 0 + " W/m²"));
    statsObj.Add(new KeyValuePair<string, string>("Solar Max", Model.Select(x => x.SolarRad).ToList().Max().ToString("0.#") + " W/m²"));
    statsObj.Add(new KeyValuePair<string, string>("Max UV", Model.Select(x => x.UV).ToList().Max().ToString("0.#")));
    statsObj.Add(new KeyValuePair<string, string>("Pressure Min", Model.Select(x => x.PressCur).ToList().Min().ToString("0.#") + " hPa"));
    statsObj.Add(new KeyValuePair<string, string>("Pressure Avg", Model.Select(x => x.PressCur).ToList().Average().ToString("0.#") + " hPa"));
    statsObj.Add(new KeyValuePair<string, string>("Pressure Max", Model.Select(x => x.PressCur).ToList().Max().ToString("0.#") + " hPa"));
}

<div class="column is-2" id="first">
    <div class="card has-text-light">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="subtitle has-text-light is-4">Summary</p>

                    <ul class="content">
                        @foreach (var k in statsObj)
                        {
                            // Do not display a line for information that is zero
                            var match = Regex.Match(k.Value, @"\d*\,?\d+");
                            if (Convert.ToDouble(match.Groups[0].Value) > 0)
                            {
                                <li>
                                    @k.Key<span style="float:right;">@k.Value</span>
                                </li>
                            }
                        }
                    </ul>
                    @if (Model.Any(x => x.RainRateCur > 0))
                    {
                        <div class="media">
                            <div class="media-content">
                                <p class="subtitle has-text-light is-4">Rain Rose</p>
                                <ul class="list-group list-group-flush" id="rainrose">
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>