@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="containerx col-lg-12 col-md-12 col-sm-12 ">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1 class="text-danger">Oh my Gosh...</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    Request ID: <code>@Model.RequestId</code>
                </p>
            }

            <p>The most common scenario is that the page you asked for wasn't there</p>
        </div>
    </div>
</div>