body , footer div p{
    padding-bottom: 20px;
    background-color: #313131;
    /*background-color: #3e3b3b;*/
    color: #fff;
}
.card {
    height: fit-content;
    border-radius: 6px;
}

#second .list-group-item, #first .list-group-item, .list-group-item, .card {
    background-color: #363636;
}

.containerx h3, h3, h2, h1 ,p {
    text-align: center;
}
h1 {
    font-size: xx-large;
}
.flatpickr-input{
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
    .containerx {
        display: flex;
        flex-flow: column;
    }

    #first {
        order: 1;
    }

    #second {
        order: 2;
    }

    #middle {
        order: 3;
        width: auto;
    }

    .topbar {
        /* pews*/
    }
    #weatherbox{
        padding: 0.50em;
    }
}

.timepicker {
    border-radius: 5px;
    width: 7rem;
}

#windrose, #rainrose {
    width: 100%;
    height: 370px;
}
/*.topbar {*/
/*   max-height: 10rem;*/
/*}*/
/*#graph{*/
/*    margin-top: -10rem;*/
/*}*/
footer  {
   padding: 1.5rem 0.7rem 1rem!important;
}

#date, #time{
    border-radius: 4px;
}
.image-container{
    display: flex;
    justify-content: center;
}

.moon{
    /* 
        Comment out the transform for 
        northern hemisphere it flips the moon
    */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height:40%;
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-container img {
    height:30%;
    width:30%;
}
#narrative {
    line-height: 1.5em;
    height: 6em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-align: center;
}
#moontext {
    line-height: 1.5em;
    height: 1.5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-align: center;
}
#RiseAndSet{
    text-align: center;
    /*padding: unset;*/
    font-weight: bold;
}
hr{
    margin: 0.75rem 0;
}

