/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #30303d;
    color: #fff;
}

.datepicker {
    background-color: #fff;
    color: #333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
} 

#second, #first{
    background-color: #343A40;
    height: fit-content;
}
.card .col-lg-4 .col-sm-3{
    background-color: #343A40;
    height: fit-content;
}

#second .list-group-item, #first .list-group-item ,.list-group-item, .card{
    background-color: #343A40;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .containerx {
        display: flex;
        flex-flow: column;
    }

    #first {
        order: 1;
    }

    #second {
        order: 2;
    }
    #middle {
        order : 3;
    }
   

    /*.containerx{*/
    /*    width:100%!important;*/
    /*    float:left;*/
    /*    clear:both;*/
    /*    display:block;*/
    /*    text-align:center;*/
    /*}*/
}

/*.containerx .col-lg-4 table {*/
/*     width:-webkit-fill-available;*/
/* }*/
tr td:nth-of-type(2) {
    text-align: center;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
    width: 10%;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
    background: rgba(48, 48, 61, 0.86);
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
    background: rgba(67, 67, 81, 0.86);
}

tr td:hover {
    background: #1e28a2;
    color: #FFF;
}

/* Hover cell effect! */

/*#chartemp {*/
/*    width: 100%;*/
/*    height: 500px;*/
/*}*/
/*@media only screen and (max-width: 767px) {*/
/*    .pew {*/
/*        display: none;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 1920px) {*/
/*    .containerx {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr 1fr;*/
/*        !*grid-template-rows: 50px 50px;  *!*/
/*        overflow-x:auto;*/
/*    }*/
/*}*/
/*@media all and (max-width:767px){*/
/*    */
/*    .containerx {*/
/*        max-width:100%;*/
/*        height:auto;*/
/*    }*/
/*}*/
