body , footer div p{
    padding-bottom: 20px;
    background-color: #30303d;
    color: #fff;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.card .col-lg-4 .col-sm-3, .card {
    background-color: #363636;
    height: fit-content;
    border-radius: 6px;
}

#second .list-group-item, #first .list-group-item, .list-group-item, .card {
    background-color: #363636;
}

.containerx h3, h3, h2, h1 ,p {
    text-align: center;
}
h1 {
    font-size: xx-large;
}
.flatpickr-input{
    text-align: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .containerx {
        display: flex;
        flex-flow: column;
    }

    #first {
        order: 1;
    }

    #second {
        order: 2;
    }

    #middle {
        order: 3;
        width: auto;
    }

    .topbar {
        /* pews*/
    }
    #weatherbox{
        padding: 0.50em;
    }
}

.timepicker {
    border-radius: 5px;
    width: 7rem;
}

#windrose, #rainrose {
    width: 100%;
    height: 370px;
}
/*.topbar {*/
/*   max-height: 10rem;*/
/*}*/
/*#graph{*/
/*    margin-top: -10rem;*/
/*}*/
footer  {
   padding: 1.5rem 0.7rem 1rem!important;
}

#date, #time{
    border-radius: 4px;
}
.image-container{
    display: flex;
    justify-content: center;
}
.moon{
    /* 
        Uncomment the transforms for 
        northern hemisphere it flips the moon
    */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height:40%;
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-container img {
    height:30%;
    width:30%;
}
#narrative {
    line-height: 1.5em;
    height: 6em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-align: center;
}
#moontext {
    line-height: 1.5em;
    height: 1.5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-align: center;
}
#RiseAndSet{
    text-align: center;
    /*padding: unset;*/
    font-weight: bold;
}
hr{
    margin: 0.75rem 0;
}
/*.subtitle {*/
/*    color: #2380a0 !important;*/
/*}*/
