<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="dotnet" arguments=".\WUCharts.dll" stdoutLogEnabled="false"
                    stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
        <httpProtocol allowKeepAlive="true" />
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
    <system.net>
        <connectionManagement>
            <add address="*" maxconnection="65535" />
        </connectionManagement>
    </system.net>
</configuration>