@{
    ViewData["Title"] = "About";
}
<div class="columns is-0-mobile is-centered">
    <br/>
     <div class="column is-half">
        <img  src="~/img/FullSpectrumOhanssss.jpg" alt="Card image cap">
        <div class="card-body">
            <h1 class="card-title">The author - <a href="https://flickr.com/ohansmit" target="_blank">Ohan Smit</a> - <a href="https://github.com/psynosaur" target="_blank" style="color: aquamarine;">Psynosaur</a></h1>
            <p class="card-text">This is my weather reporting site, I built it since other sites where taking to long to load and I needed to build a project for a job interview using the Microsoft stack, this is that project and it has grown into something I am quite proud of...</p>
            <p class="card-text" style="text-align: center">My Amateur Radio blog can be found at <a href="https://zs1sci.com/">zs1sci.com</a></p>
            <p class="card-text">
                <small class="text-muted">Last updated not to long ago</small>
            </p>

        </div>
    </div>
</div>
    