@{
    ViewData["Title"] = "About";
}
<div class="columns is-0-mobile is-centered">
    <br/>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-image">
                <figure class="image is-ratio">
                    <img src="~/img/FullSpectrumOhanssss.jpg" alt="Ohan Smit">
                </figure>
            </div>
            <div class="card-body has-text-light">
                <h1 class="card-title">The author - <a href="https://flickr.com/ohansmit" target="_blank">Ohan Smit</a> - <a href="https://github.com/psynosaur" target="_blank" style="color: aquamarine;">Psynosaur</a></h1>
                <div class="content">
                    <p class="card-text">This is my weather reporting site, it is built for speedy weather insights.</p>
                    <p class="card-text" style="text-align: center">My Amateur Radio blog can be found at <a href="https://zs1sci.com/">zs1sci.com</a></p>
                    <p class="card-text">
                        <small class="text-muted">¯\_(ツ)_/¯</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>