@using Newtonsoft.Json
@model List<WURequest.Models.Observations>
@{
    var latest = Model.Last();
    var graph = Model
        .Select(c =>
        {
            c.WindSpeedCur *= 3.6;
            c.WindGust10 *= 3.6;
            return c;
        });

    var rainHour = Model.Any() ? Model.Select(x => x.RainDay).Last() - Model.Select(x => x.RainDay).First() : 0;
    //ViewData["Title"] = "Temp Past Hour : " + DateTime.Now.ToString("f");
}

<div class="containerx col-lg-12 col-md-12 col-sm-12">
    <div class="row">
            <div class="col-12" style="text-align: center">
                <h2>Hourly Stats</h2>
                <strong>Date Time :</strong> @latest.ObsTime.ToLocalTime().ToString("ddd  dd MMM yyyy - HH:mm:ss zzz")
            </div>
        </div>
    
        @Html.Partial("_DoubleGraph", Model)
</div>


<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script type="text/javascript">
    var hrs = 0;
    var modeldata = @Html.Raw(JsonConvert.SerializeObject(graph));
</script>
<script type="text/javascript" src="~/js/amcharts.js"></script>