@using Newtonsoft.Json
@model List<WURequest.Models.Observations>
@{
    var latest = Model.LastOrDefault();
    var graph = Model
        .Select(c =>
        {
            c.WindSpeedCur *= 3.6;
            c.WindGust10 *= 3.6;
            return c;
        });

    var rainHour = Model.Any() ? Model.Select(x => x.RainDay).Last() - Model.Select(x => x.RainDay).First() : 0;
    //ViewData["Title"] = "Temp Past Hour : " + DateTime.Now.ToString("f");
}
<div class="containerx col-lg-12 col-md-12 col-sm-12">
    @if (latest != null)
    {
        <div class="row">
            <div class="col-12" style="text-align: center">
                <h2>Hourly Stats</h2>
                <strong>@latest.ObsTime.ToLocalTime().ToString("dddd dd MMM yyyy - HH:mm:ss zzz")</strong>
            </div>
        </div>
        @await Html.PartialAsync("_DoubleGraph", Model)
        <script type="text/javascript">
             var hrs = 0;
             var modeldata = @Html.Raw(JsonConvert.SerializeObject(graph));
        </script>
        @await Html.PartialAsync("_scripts")
    }
    else
    {
        @await Html.PartialAsync("_error")
    }
</div>