@using Newtonsoft.Json
@model List<WURequest.Models.Observations>
@{
    var cnt = Model.Select(x => true).Count();
    var latest = Model.Last();
    // Sets nth record to use for plotting
    int nStep = 100;
    var graph = Model.Where((x, i) => i % nStep == 0);
    var graph2 = graph
        .Select(c =>
        {
            c.WindSpeedCur *= 3.6;
            c.WindGust10 *= 3.6;
            return c;
        });

    int nStepRain = 100;
    var graphrain = Model.Where((x, i) => i % nStepRain == 0);
}


<div class="containerx col-lg-12 col-md-12 col-sm-12 ">
    <div class="row">
        <div class="col-lg-offset-4 col-12">
            <h2>Weekly Stats</h2>
            <strong>Date Time :</strong> @latest.ObsTime.ToLocalTime().ToString("ddd  dd MMM yyyy - HH:mm:ss zzz")
        </div>
        
    </div>
    @Html.Partial("_stats", Model)
</div>

<div class="pew col-lg-12 col-md-12 col-sm-12">
    @if (cnt > 0)
    {
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartemp" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartminmax" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="charthum" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartpressure" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartwind" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartrain" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartsolar" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartuv" style="height:300px;"></div>
        <div class="col-lg-12 col-md-12 col-sm-12" id="chartwd" style="height:300px;"></div>
    }

</div>
@cnt total records

<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script type="text/javascript">
    var hrs = 2;
    var modeldata = @Html.Raw(JsonConvert.SerializeObject(graph2));
</script>
<script type="text/javascript" src="~/js/amcharts.js"></script>